<!DOCTYPE html>
<html>
<head>
    <title>Simple Currency Converter</title>
</head>
<body>
    <h1>Currency Converter</h1>

    <form method="POST">
        <label>Amount:</label>
        <input type="text" name="amount">

        <br><br>

        <label>From:</label>
        <select name="from_currency">
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
        </select>

        <label>To:</label>
        <select name="to_currency">
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
        </select>

        <br><br>

        <button type="submit">Convert</button>
    </form>

    {% if error %}
        <h2 style="color: red;">{{ error }}</h2>
    {% endif %}

    {% if result is not none %}
        <h2>Converted Amount: {{ result }}</h2>
    {% endif %}
</body>
</html>
